.product{
    border: solid rgb(139, 10, 10) 3px;
    border-radius: 30px;
    background-color: aliceblue;
    color: black;
    margin-left: 10px;
    width: 200px;
    padding-left: 20px;
    height: 180px;
    
    
}




